**/_chat_df*
Practical_examples/data_analysis/groundwater_model/model
Practical_examples/modelling/groundwater_model/results/*	
!Practical_examples/modelling/groundwater_model/results/.gitkeep
.ipynb_checkpoints
**/*.ipynb_checkpoints/

.vscode

# Byte-compiled / optimized / DLL files
__pycache__/