**/_chat_df*
Practical_examples/data_analysis/whatsapp data/data/WhatsApp Chat - Ich mo¨chte schwimmen.zip
Practical_examples/data_analysis/whatsapp data/data/WhatsApp Chat - xxx xxx.zip
Practical_examples/data_analysis/groundwater_model/model
Practical_examples/modelling/groundwater_model/results/plot_gws_rch.gif
Practical_examples/modelling/groundwater_model/results/plot_gws_rc_frames
**/*.ipynb_checkpoints/