numpy>=1.15
scipy>=1.2
matplotlib>=3.0
pandas>=0.24
jupyter>=1.0.0
lxml
requests
zeep
shapely
pyproj
geopandas
tqdm
flopy
branca
folium
bokeh
pastas
nbformat
xlrd
sqlalchemy
rasterio
pyproj
cartopy
geographiclib
networkx
gpxpy
pyshp