numpy>=1.15
scipy>=1.2
matplotlib>=3.0
pandas>=0.24
jupyter>=1.0.0
cython>=0.28.5
lxml
requests
zeep
shapely
pyproj
proj4
geopandas
tqdm
flopy
branca
folium
bokeh
pastas
nbformat
xlrd
sqlalchemy
rasterio
cartopy
geographiclib
networkx
gpxpy
pyshp